<!-- <h2>Welcome to {{hotelname}}!</h2> -->
<app-header></app-header>
<app-header></app-header>



    
<h1>Number of rooms = {{roomsCoutn$ | async | json}}</h1>
<div [hidden]="hideRooms">
    Number of Rooms
    <div [innerText]="numberOfRooms"></div>
    <!-- <div [ngStyle]="{'color' : rooms.availableRooms ? 'red':'green' }" [innerText]="numberOfRooms"></div> -->
</div>


<div *ngIf="rooms$ | async as roomsData">
    <app-rooms-list [roomsList]="roomsData" [title]="title"
    (selectedRoom)="selectRoom($event)"
    ></app-rooms-list>
    
</div>

<div>
    <button class="btn btn-primary" (click)="toggle()">Toggle</button>
</div>
<br/>
<div *ngIf="hideRooms">
    <button class="btn btn-primary" (click)="addRoom()">Add Room</button>
</div>
<br>
<div *ngIf="hideRooms">
    <button class="btn btn-primary" (click)="editRooms()">Edit Room</button>
</div>
<br>
<div *ngIf="hideRooms">
    <button class="btn btn-primary" (click)="deleteRooms()">Delete Room</button>
</div>

<div *ngIf="selectedRoom">
    {{selectedRoom | json}}
</div>

<h1>
    {{total_byte}} bytes loaded
</h1>