<!-- <h2>Welcome to {{hotelname}}!</h2> -->
<app-header></app-header>
<app-header></app-header>

<div [hidden]="hideRooms">
    Number of Rooms
    <div [innerText]="numberOfRooms"></div>
    <!-- <div [ngStyle]="{'color' : rooms.availableRooms ? 'red':'green' }" [innerText]="numberOfRooms"></div> -->
</div>


<div *ngIf="hideRooms">
    <app-rooms-list [roomsList]="roomList" [title]="title"
    (selectedRoom)="selectRoom($event)"
    ></app-rooms-list>
    
</div>

<div>
    <button class="btn btn-primary" (click)="toggle()">Toggle</button>
</div>
<br/>
<div *ngIf="hideRooms">
    <button class="btn btn-primary" (click)="addRoom()">Add Room</button>
</div>
<br>
<div *ngIf="hideRooms">
    <button class="btn btn-primary" (click)="editRooms()">Edit Room</button>
</div>

<div *ngIf="selectedRoom">
    {{selectedRoom | json}}
</div>